In [1]:
import numpy as np
import pandas as pd
import time
import os
import openpyxl
import xlrd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [3]:
test_dict = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace '],'math':[90,89,99,78,97,93],'english':[89,94,80,94,94,90]}
#[1].直接写入参数test_dict
test_df = pd.DataFrame(test_dict)

In [4]:
print(test_df)

   id    name  math  english
0   1   Alice    90       89
1   2     Bob    89       94
2   3   Cindy    99       80
3   4    Eric    78       94
4   5   Helen    97       94
5   6  Grace     93       90

In [23]:
test_df['new'] = ''

In [24]:
print(test_df)

   id    name  math  english now new
0   1   Alice    90       89
1   2     Bob    89       94
2   3   Cindy    99       80
3   4    Eric    78       94
4   5   Helen    97       94
5   6  Grace     93       90

In [16]:
print(len(test_df))

6

In [19]:
for i in np.arange(len(test_df)):
    print(i, end=' ')
    print(str(test_df.loc[i, 'name']) + '_' + str(test_df.loc[i, 'math']))
    print(type(test_df.loc[i, 'name']))

0 Alice_90
<class 'str'>
1 Bob_89
<class 'str'>
2 Cindy_99
<class 'str'>
3 Eric_78
<class 'str'>
4 Helen_97
<class 'str'>
5 Grace _93
<class 'str'>